#bottom_row {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Ubuntu, san-serif;
    font-size: 100%;
    font-weight: bold;
}
#bottom_row .row div {
    width: 1cm;
    height: 0.7cm;
    display: inline-block;
    text-align: center;
    margin: 0cm 0.1cm 0.4cm 0.1cm;
    border-radius: 2.5px 2.5px 8px 8px;
    background: gray;
}
#bottom_row .row div span {
    display: inline-block;
    margin: auto;
    padding: auto;
}
#bottom_row .row:first-child div:nth-child(4), #bottom_row .row:first-child div:last-child{
    background-color: firebrick;
}