#middle_row {
    /*margin-bottom: 0.6cm;*/
    margin-bottom: 20px;
}
#middle_row .row div {
    font-family: "Trebuchet MS", Ubuntu, monospace, sans-serif;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    height:  0.45cm;
    width: 0.8cm;
    margin:0 0.1cm 10px 0.1cm;
    border-radius: 4.5px;
    background-color: black;
}
#middle_row .row div span {
    padding: 0;
    margin: 0;
}
#middle_row .row:first-child div:nth-child(3), #middle_row .row:first-child div:nth-child(4){
    visibility: hidden;
}
#middle_row .row div:first-child {
    margin-left: 0cm;
}
#middle_row .row div:last-child {
    margin-right: 0cm;
}